<%- include('../partials/header') %>
<%- include('../partials/home-styles') %>

<div id="canvas-container"
     class="fixed inset-0 z-0 opacity-40 pointer-events-none"
     style="touch-action:none"></div>

<main class="relative z-10 w-full overflow-x-hidden">

    <%- include('../partials/home-hero') %>
    <%- include('../partials/home-about-stats') %>
    <%- include('../partials/home-services') %>
    <%- include('../partials/home-sample') %>
    <%- include('../partials/home-process') %>
    <%- include('../partials/home-testimonials') %>
    <%- include('../partials/home-calculator') %>

    

</main>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
<%- include('../partials/home-scripts') %>